body {
    font-family: 'Great Vibes';
    font-size: 3em;
    font-weight: bold;
    background: url('nye-ball.gif') no-repeat center top, radial-gradient(circle farthest-corner, hsl(320deg, 15%, 15%), hsl(320deg, 15%, 15%), hsl(320deg, 0%, 2%) 100%);
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    background-size: auto;
    color: #14054c;
    text-shadow: 5px 4px 0px #cfcfcf, 6px 6px 0px rgba(0,0,0,0.15);
}

.fireworks {
    height: 100dvh;
    width: 100vw;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

:root {
    --c01: #b29600;
    --c02: #2c2828;
    --c03: #14054c;
    --c04: #d2b793;
    --color_bg: #dfd3c3;
    --color_balloon: var(--c02);
    --balloon: 80px;
    --balloon_half: calc(var(--balloon) / 2);
    --knot: calc(var(--balloon) / 10);
    --border: 10px;
}

@media screen and (min-width: 52em) {
    :root {
        --balloon: 140px;
    }
}

@media screen and (min-width: 88em) {
    :root {
        --balloon: 200px;
    }
}

boday {
    background-color: var(--color_bg);
}

.new-year-party {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    box-sizing: border-box;
    display: flex;
    grid-auto-flow: column;
    justify-content: center;
    margin: var(--border);
    overflow: hidden;
    padding-top: calc(var(--border) * 2);
}

.balloon {
    width: var(--balloon);
    height: var(--balloon);
    transition: all 0.2s ease-in-out;
    background-image: url('https://image.freepik.com/free-photo/glitter-background-for-new-year_23-2148002042.jpg');
    background-position: 60% 50%;
    background-blend-mode: screen;
    background-color: var(--color_balloon);
    border-radius: 0 var(--balloon_half) var(--balloon_half);
    border: 1px solid transparent;
    position: relative;
    transform: rotate(-135deg) translate(-100vh, -100vh);
    transform-style: preserve-3d;
}

    .balloon:not(:last-child) {
        margin-right: calc(var(--balloon_half) / 4);
    }

    .balloon:before {
        width: 0;
        height: 0;
        transition: all 0.2s ease-in-out;
        content: "";
        border-style: solid;
        border-width: calc(var(--knot) * 1.5) var(--knot) 0 var(--knot);
        border-color: var(--color_balloon) transparent transparent transparent;
        position: absolute;
        top: calc(var(--knot) / -1);
        left: calc(var(--knot) * -1.3);
        transform: rotate(-45deg);
    }

    .balloon:after {
        width: 1px;
        height: calc(var(--balloon) * 2.5);
        transition: all 0.2s ease-in-out;
        content: "";
        background-color: var(--c02);
        position: absolute;
        bottom: calc(var(--balloon) / 1.54);
        left: calc(var(--balloon) / -1.1);
        transform: rotate(135deg);
        z-index: -1;
    }

.balloon--happy {
    --color_balloon: var(--c01);
}

.balloon--new {
    --color_balloon: var(--c03);
}

.balloon__nr {
    display: inline-block;
    text-align:center;
    transform: rotate(135deg) translateX(-100%);
    opacity: 0.75;
    color: #cfcfcf;
}

.balloon:nth-child(1) {
    animation: fly_away 3s forwards, float_left_top 4s 3s 400 ease-in-out alternate;
}

.balloon:nth-child(2) {
    animation: fly_away 1s forwards, float_right_bottom 4s 1s 400 ease-in-out alternate;
}

.balloon:nth-child(3) {
    animation: fly_away 5s forwards, float_left_top 4s 5s 400 ease-in-out alternate;
}

.balloon:nth-child(4) { 
    animation: fly_away 2s forwards, float_right_bottom 4s 2s 400 ease-in-out alternate; 

}

.balloon:nth-child(5) {
    animation: fly_away 2s forwards, float_right_bottom 4s 2s 400 ease-in-out alternate;
}

@keyframes fly_away {
    100% {
        transform: rotate(-135deg) translate(0, 0);
    }
}

@keyframes float_right_bottom {
    0%, 100% {
        transform: rotate(-135deg) translate(0, 0);
    }

    50% {
        transform: rotate(-135deg) translate(calc(var(--knot) * -1), 0);
    }
}

@keyframes float_left_top {
    0%, 100% {
        transform: rotate(-135deg) translate(0, 0);
    }

    50% {
        transform: rotate(-135deg) translate(0, var(--knot));
    }
}

@keyframes float_left_bottom {
    0%, 100% {
        transform: rotate(-135deg) translate(0, 0);
    }

    50% {
        transform: rotate(-135deg) translate(0, calc(var(--knot) * -1));
    }
}